<div class="h-fit bg-slate-200 ">
    <div class="flex justify-between max-w-7xl mx-auto">   
        <div class="py-2 ml-2">
            <a href=""><h1 class=" text-color5 font-extralight text-3xl">Your <span class="uppercase text-color2">Style</span></h1></a>
        </div>
        <div class="py-2">
            <a href=""><h1 class=" text-color5 font-extralight text-3xl">Cate<span class=" text-color2">gories</span></h1></a>
        </div> 
        <div class="py-2 mr-2">
            <a href=""><h1 class=" text-color5 font-extralight text-3xl">Log <span class=" text-color2">In</span></h1></a>
        </div>
    </div>
</div>