<div class="h-fit max-w-7xl min-w-fit mx-auto text-gray-200">
    <div class="flex justify-around max-w-7xl mx-auto font-extralight text-3xl transition-all ease-in-out">
        <div class="py-2 ml-2 hover:text-white duration-500">
            <a href="">
                <h1 class="">Your <span class="uppercase">Style</span></h1>
            </a>
        </div>
        <div class="py-2 hover:text-white duration-500">
            <a href="">
                <h1 class="">Cate<span class=" ">gories</span></h1>
            </a>
        </div>
        <div class="py-2 mr-2 hover:text-white duration-500">
            <a href="">
                <h1 class="">Log <span class="">In</span></h1>
            </a>
        </div>
    </div>
</div>